body {
    background-color: #09340E;
    background-image: 
        linear-gradient(30deg, #063D0D 12%, transparent 12.5%, transparent 87%, #063D0D 87.5%, #063D0D),
        linear-gradient(150deg, #063D0D 12%, transparent 12.5%, transparent 87%, #063D0D 87.5%, #063D0D),
        linear-gradient(30deg, #063D0D 12%, transparent 12.5%, transparent 87%, #063D0D 87.5%, #063D0D),
        linear-gradient(150deg, #063D0D 12%, transparent 12.5%, transparent 87%, #063D0D 87.5%, #063D0D),
        linear-gradient(60deg, #075712 25%, transparent 25.5%, transparent 75%, #075712 75%, #0C991F),
        linear-gradient(60deg, #075712 25%, transparent 25.5%, transparent 75%, #075712 75%, #087C18);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 50%;
}

.button-container {
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #fcf2cb;
    color: #97927d;
    border: 2px solid #97927d;
    border-radius: 16px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family: calder-dark-grit-shadow, sans-serif, "Courier New";
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #97927d;
    color: #fcf2cb;
    border: 2px solid #fcf2cb;
}

.base {
    background-color: #fcf2cb;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 1%;
    text-align: center;
}

td {
    transition: all 0.2s ease-in-out;
}

td.highlight {
  padding:0;
  width:4px;
}

td.highlight div {
  width:4px;
  height:60px;
  border-radius:4px;
  transition: all 0.2s ease-in-out;
}

.row:hover {
 box-shadow: 0px 9px 4px -6px grey;
}

.row {
  border: 1px solid transparent;
  z-index:7;
}

tr:hover td {
  cursor:pointer;
  color:#0C991F;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

tr:hover td.highlight div {
  transform: scaleX(3);
}
