<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit Data</title>
        <link rel="stylesheet" href="../static/css/wickedwild.css"/>
        <link rel="stylesheet" href="https://use.typekit.net/sbl5myw.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    </head>
    <body>
        <div class="base">
        <form>
            <label for="table">Lifer List</label>
            <input type="radio" id="lifer" name="table" value="lifer_list"><br><br>
            <label for="table">2023 Big Year</label>
            <input type="radio" id="2023" name="table" value="2023_herps"><br><br>
            <label for="common">Common name:</label>
            <input type="text" id="common" name="common"><br><br>
            <label for="science">Scientific name:</label>
            <input type="text" id="science" name="science"><br><br>
            <label for="county">County:</label>
            <input type="text" id="county" name="county"><br><br>
            <label for="state">State:</label>
            <input type="text" id="state" name="state"><br><br>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country"><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date"><br><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </body>
</html>
