<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wicked Wild</title>
        <link rel="stylesheet" href="../css/wickedwild.css"/>
        <link rel="stylesheet" href="https://use.typekit.net/sbl5myw.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    </head>
    <body>
        <img src="../images/WickedWildLogo.png" alt="Wicked Wild" id="logo">
    </body>
</html>
