<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lifer List</title>
        <link rel="stylesheet" href="../static/css/wickedwild.css"/>
        <link rel="stylesheet" href="https://use.typekit.net/sbl5myw.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    </head>
    <body>
        {% for row in data %}
            <p>{{ row }}</p>
        {% endfor %}
    </body>
</html>
