<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lifer List</title>
        <link rel="stylesheet" href="../static/css/wickedwild.css"/>
        <link rel="stylesheet" href="https://use.typekit.net/sbl5myw.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    </head>
    <body>
        <div class="base">
            <table id="liferList">
                <tr>
                    <th>#</th>
                    <th>Common Name</th>
                    <th>Scientific Name</th>
                    <th>County</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Date</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.common }}</td>
                        <td>{{ row.scientific }}</td>
                        <td>{{ row.county }}</td>
                        <td>{{ row.state }}</td>
                        <td>{{ row.country }}</td>
                        <td>{{ row.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <script>
        function addRowHandlers() {
            var table = document.getElementById("liferList");
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var currentRow = table.rows[i];
                var createClickHandler = function(row) {
                    return function() {
                        var cell = row.getElementsByTagName("td")[0];
                        var id = cell.innerHTML;
                        window.open("https://en.wikipedia.org/w/index.php?title={{ row.scientific|replace(' ', '_') }}&redirect=yes", "_blank");
                    };
                };
                currentRow.onclick = createClickHandler(currentRow);
            }
        }
        window.onload = addRowHandlers();
        </script>
    </body>
</html>
