<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wicked Wild</title>
        <link rel="stylesheet" href="https://wickedwild.life/static/css/wickedwild.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="https://wickedwild.life/static/images/favicon.ico"/>
    </head>
    <body>
        <div class="button-container">
            <a href="/nor-easters" class="button">New England Nor'Easters</a>
            <a href="/reapers" class="button">Carolina Reapers</a>
            <a href="/black-squirrels" class="button">Syracuse Black Squirrels</a>
            <a href="/free-agents" class="button">Free Agents</a>
        </div>
    </body>
</html>
