<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wicked Wild</title>
        <link rel="stylesheet" href="../static/css/wickedwild.css"/>
        <link rel="stylesheet" href="https://use.typekit.net/sbl5myw.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    </head>
    <body>
        <img src="../static/images/WickedWildLogo.png" alt="Wicked Wild" id="logo">
        <div class="button-container">
            <a href="/list" class="button">Lifer List</a>
            <a href="/edit" class="button">Edit Data</a>
            <a href="/2023" class="button">Big Year</a>
        </div>
    </body>
</html>
